/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .hero {
    padding: 12rem 0;
    text-align: left;
    height: 165px;
  }
  .section {
    padding: 12rem 0 11rem;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* Loader */
@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }

  5% {
    opacity: 1;
    top: 0px; }

  50.9% {
    opacity: 1;
    top: 0px; }

  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }

  5% {
    opacity: 1;
    top: 0px; }

  50.9% {
    opacity: 1;
    top: 0px; }

  55.9% {
    opacity: 0;
    top: 10px; } }

@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }

  5% {
    opacity: 1;
    top: 0px; }

  50.9% {
    opacity: 1;
    top: 0px; }

  55.9% {
    opacity: 0;
    top: 10px; } }

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px; }

.square {
  background: #1fbeca;
  width: 15px;
  height: 15px;
  float: left;
  top: -10px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite; }

.enter {
  top: 0px;
  opacity: 1;
}

.square:nth-child(1) {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.square:nth-child(2) {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s; }

.square:nth-child(3) {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
  background: #fdc96f; }

.square:nth-child(4) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.square:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.square:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.square:nth-child(8) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.square:nth-child(9) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.clear {
  clear: both;
}

.last {
  margin-right: 0;
}

.centertext{
  text-align:center;
}

.centerInParent{
  display: table;
  margin: 0 auto;
}

.circle .image-wrap {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

.container{
  margin-top:30px;
}

/*------------------------------------------------*/
/* Switch SECTION START*/
/*------------------------------------------------*/
.Switch {
  position: relative;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  color: #ccc;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
  height: 18px;
  padding: 6px 6px 5px 6px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  background: #ececec;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}

body.IE7 .Switch { width: 78px; }

.Switch span { display: inline-block; width: 35px; }
.Switch span.On { color: #33d2da; }

.Switch .Toggle {
  position: absolute;
  top: 1px;
  width: 37px;
  height: 25px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  background: #fff;
  background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ececec 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 100%);
  background: linear-gradient(top,  #ececec 0%,#ffffff 100%);

  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
  z-index: 999;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle { left: 2%; }
.Switch.Off .Toggle { left: 54%; }


/* Round Switch */
.Switch.Round {
  padding: 0px 20px;
  border-radius: 40px;
}

body.IE7 .Switch.Round { width: 1px; }

.Switch.Round .Toggle {
  border-radius: 40px;
  width: 14px;
  height: 14px;
}

.Switch.Round.On .Toggle { left: 3%; background: #33d2da; }
.Switch.Round.Off .Toggle { left: 58%; }

.invis {
  display: none;
}

.circleImage {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.spacer {
    margin-top: 15px;
}

.hide {
    display: none;
}

#footer {
    position: relative;
    margin-top: -400px; /* negative value of footer height */
    height: 400px;
    clear: both;
}

/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px; /* thank you Erik J */
}

html, body, #wrapper {
    height: 100%;
    overflow-y: hidden;
}

body > #wrapper {
    height: auto;
    min-height: 100%;
}

/* must be same height as the footer */
#content {
    overflow-y: hidden;
    padding-bottom: 400px;
}